@model BikeStore.Models.Customer

@{
    ViewData["Title"] = "Recover Password";
}
<style>
    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
    }
</style>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LcLqMEUAAAAAF-PBDCVkJGhpFgrLaMVOCjibiHP"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LcLqMEUAAAAAF-PBDCVkJGhpFgrLaMVOCjibiHP', { action: 'homepage' }).then(function (token) {
            document.getElementById("endForm").value = token;
        });
    });
</script>

<div class="p-4">
    <h1>Recover Password</h1>
    <hr />

    @if (TempData["RecoverMessage"] != null)
    {
        <div class="alert alert-warning border border-dark pt-4" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>@TempData["RecoverMessage"]</p>
        </div>
    }
    else if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger border border-dark pt-4" role="alert">
            <h4 class="alert-heading">reCAPTCHA Failed!</h4>
            <p>@ViewBag.ErrorMessage</p>
        </div>
    }
    else
    {
        <div class="col-6">
            <form asp-action="RecoverPassword" method="post">
                <div>
                    <label asp-for="EmailAddress">Email</label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="pt-4">
                    <button class="g-recaptcha-response btn btn-success" data-sitekey="6LcLqMEUAAAAAF-PBDCVkJGhpFgrLaMVOCjibiHP" data-callback='onSubmit'>Send</button>
                    <button type="reset" class="btn btn-danger">Clear Form</button>
                </div>

                <input type="hidden" id="endForm" name="endForm" />
            </form>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


