
@{
    ViewData["Title"] = "Safety";
}

<div class="image-container">
    <img class="body-image" src="~/Content/Safety/Safety1.JPG"/>
    <div class="image-text-centered image-text">
        How to bike properly?
    </div>
</div>
<div class="p-5">
    <h1>Steps</h1>
    <ol class="list-group list-group-flush">
        <li class="list-group-item">
            <b>Begin on a flat safe surface</b>
            <p>Surfaces such as grass or road are best for starting out. The grass especially helps with falls as it can minimize the damage you and the bike take from a kerfuffle. Flat surfaces especially assist in a simple first ride.</p>
        </li>
        <li class="list-group-item">
            <b>Adjust the bike seat</b>
            <p>The perfect height for your seat is such that you can place your feet flat on the ground surface while seated. This is done for stabilization in case of any falls.</p>
        </li>
        <li class="list-group-item">
            <b>Make sure your brakes work</b>
            <p>The worst thing to happen is to not be able to stop in case of an imminent collision. To avoid this testing the functionality of your brakes can save you from many problems.</p>
        </li>
        <li class="list-group-item">
            <b>Get yourself comfortable</b>
            <p>Get one foot on the ground and the other on the pedals. Make yourself comfortable. Recheck the last few steps to confirm all is in check.</p>
        </li>
        <li class="list-group-item">
            <b>Push yourself</b>
            <p>Push yourself with the foot on the ground and glide for a bit. Get a feel for the movement and the speed. Maintain balance, and when you start to lose it push again with your foot. Keeping your eyes straight ahead of you to watch out</p>
        </li>
        <li class="list-group-item">
            <b>Pedaling... And then your off!</b>
            <p>Once you get the feel for this and feel ready, place both feet on the pedals and start to pedal. Keep yourself balanced and don't stray too much toward one side. The faster you go the easier it gets to maintain balance.</p>
        </li>
        <li class="list-group-item">
            <b>To Dismount</b>
            <p>Upon completion be sure to slowly brake to a stop. An abrupt stop can send you flying if you were going too fast. As you slow down lower your feet to the lower end of the pedals. Upon stopping place your feet on the ground to catch yourself and dismount</p>
        </li>
    </ol>

    <a class="font-weight-bold p-2" href="https://www.wikihow.com/Ride-a-Bicycle" target="_blank">Source Link</a>
</div>


<div class="image-container">
    <img class="body-image" src="~/Content/Safety/Safety2.JPG"/>
    <div class="image-text-centered image-text">
        What are the rules of the road?
    </div>
</div>

<div class="p-5">
    <h1>Obligations</h1>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <b>The Highway Safety Code requires that you:</b>
            <ul>
                <li>obey traffic signs and traffic lights at all times, even when turning right on a red light; even if the way is clear, a red light or a stop sign means that you have to come to a complete stop. You have to wait for the light to turn green again before continuing</li>
                <li>yield the right of way to vehicles and other cyclists that have priority at an intersection. Yield the right of way to pedestrians who enter the intersection or who indicate the intention of entering the intersection</li>
                <li>ride as close as possible to the right side of the roadway. A cyclist may leave that position to make a left turn, or in case of necessity</li>
                <li>signal their intentions without interruption and over a sufficient distance to make sure that other users have seen them</li>
                <li>ride in a single file when riding in groups; a group can be made up of 15 cyclists, maximum</li>
                <li>ride astride the bicycle and hold the handlebars</li>
                <li>ride with the flow of traffic—except if signs authorize cycling against the flow of traffic or in case of necessity</li>
                <li>stop, give the right of way to pedestrians, and ride at a safe and reasonable speed when riding through a pedestrian crossing</li>
                <li>stop at a distance of more than 5 m from a bus or minibus whose flashing lights are activated or whose stop arm is deployed</li>
            </ul>
        </li>
    </ul>
    <br />

    <h1>Prohibitions</h1>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <b>The Highway Safety Code prohibits cyclists from riding:</b>
            <ul>
                <li>on highways and on their access and exit ramps</li>
                <li>against the flow of traffic, unless signs indicate otherwise or in case of necessity</li>
                <li>on sidewalks, except in case of necessity or where directed or authorized to do so by a sign or signal. In such a case, the cyclist must ride at a low speed and give pedestrians the right of way</li>
                <li>while wearing earphones or headphones that cover one or both ears</li>
                <li>while using a portable electronic device, hand held or not</li>
                <li>while viewing information displayed on a display screen unless: the information is relevant to riding or related to the operation of the bicycle's usual equipment, the screen is integrated into the bicycle or mounted on a bracket and the screen is positioned in such a way that the cyclist can operate and consult it easily</li>
                <li>while performing any action that can distract the cyclist from safely riding the bicycle</li>
                <li>between 2 lanes of moving vehicles, unless the vehicles travelling in the lane to the right of the cyclist are in a lane reserved for right turns</li>
                <li>a bicycle with a faulty brake system</li>
            </ul>
        </li>
        <li class="list-group-item">
            <b>It is also prohibited:</b>
            <ul>
                <li>to carry a passenger, except if the bicycle is equipped with a seat designed for that purpose</li>
                <li>to drink alcohol while riding a bicycle</li>
                <li>to use drugs, except for over-the-counter medications or medications other than cannabis that have been prescribed by an authorized professional</li>
            </ul>
        </li>
    </ul>

    <a class="font-weight-bold p-2" href="https://saaq.gouv.qc.ca/en/road-safety/modes-transportation/bicycle/what-the-law-says/" target="_blank">Source Link</a>
</div>
